#wrapper {
	border: 1px solid;
	width: 100%;
	height: 68px;
	margin: 0;
	background-color: #E6E6E6;
}

#header {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	text-align: center;
	padding: 5px;
	color: #31B404;
}

<!--
HATE SIGN OUT BUTTON

        #signout {
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	text-align: right;
	padding: 5px;
}

-->
#menubar {
	margin: 0;
	padding: 0;
}

#menubar ul {
	margin: 0;
	padding: 10px;
	line-height: 30px;
	position: absolute;
	font-size: 20px;
}

#menubar li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	postion: relative;
	background: #999;
}

#menubar ul li a {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	text-decoration: none;
	height: 30px;
	width: 150px;
	display: block;
	color: #FFF;
	border: 1px solid #000;
	text-shadow: 1px 1px 1px #000;
}

#menubar ul ul {
	visibility: hidden;
	top: 32px;
}

#menubar ul li:hover ul {
	visibility: visible;
}

#menubar li:hover {
	background: #31B404;
}

#menubar ul li:hover ul li a:hover {
	background: #CCC;
	color: #000;
}

#navbar {
	width: 100%;
	border-bottom: 1px solid #000;
	height: 60px;
	padding-left: 5%;
	padding-right: 10%;
}

#holder {
	height: 60px;
	width: 100%;
}

#navbar #holder ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbar #holder ul li a {
	text-decoration: none;
	float: left;
	margin-right: 5px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #000;
	border: 1px solid #000;
	border-bottom: none;
	padding: 20px;
	width: 25%;
	text-align: center;
	display: block;
	background: #31B404;
}

#navbar #holder ul li a:hover {
	background: #E6E6E6;
	color: #31B404;
	text-shadow: 1px 1px 1px #000;
}

#holder ul li a#onlink {
	background: #FFF;
	color: #31B404;
	border-bottom: 1px solid #FFF;
}

#holder ul li a#onlink:hover {
	background: #FFF;
	color: #69F;
	text-shadow: 1px 1px 1px #000;
}

button {
	background-color: #31B404;
	width: 15%;
}