@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#header {
	text-align: center;
	padding: 5px;
	color: #31B404;
}

#wrapper {
	border: 1px solid;
	width: 100%;
	margin: 0;
	background-color: #4D4D4D;
	overflow: auto;
	height:40%;
    line-height:40%;
    display: table;
}


.menubutton{
    color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    float:left;
    display: table-cell; 
    padding: 1px 1%;
    -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
    left:0%;
}
.menubutton:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 0px 0px 0px;
}
#menubar .menubutton:hover{
    color: #31B404;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    float:left;
    display: table-cell; 

}

#navbar {
	width: 100%;
	border-bottom: 1px solid #FFF;
	height: 60px;
	padding-left: 5%;
	padding-right: %;
	margin: 5px;
}

#holder {
	height: 60px;
	width: 100%;
}

#navbar #holder ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbar #holder ul li a {
	text-decoration: none;
	float: left;
	margin-right: 5px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #FFF;
	border-bottom: none;
	text-shadow: 1px 1px 1px #000;
	padding: 20px;
	width: 15%;
	text-align: center;
	display: block;
	background: #31B404;
}

#navbar #holder ul li a:hover {
	background: #00e600;
	color: #FFF;
	text-shadow: 4px 4px 4px #000;
}

#holder ul li a#onlink {
	background: #262626;
	color: #31B404;
	border-bottom: 1px solid #262626;
}

#holder ul li a#onlink:hover {
	background: #262626;
	color: #FFF;
	text-shadow: 4px 4px 4px #000;
}

.button {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 12px;
	text-decoration: none;
	margin: 15px;
	color: #000;
	position: relative;
	display: inline-block;
	left: 14%;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
}

.button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.green {
	background-color: #00e600;
	box-shadow: 0px 5px 0px 0px #00b300;
}

.green:hover {
	background-color: #34ff34;
}

#user_name {
	visibility: hidden;
}

h1 {
	color: #FFF;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
}

h2 {
	color: #31B404;
	text-shadow: 3px 3px 3px #000;
}

span {
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

#signbar {
	margin-left: 80%;
	padding: 0;
	position: absolute;
}

#signbar ul {
	margin: 0;
	padding: 10px;
	line-height: 30px;
	position: absolute;
	font-size: 20px;
}

#signbar li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #999;
}

#signbar ul li a {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	text-decoration: none;
	height: 30px;
	width: 150px;
	display: block;
	color: #FFF;
	border: 1px solid #000;
	text-shadow: 1px 1px 1px #000;
	padding: 1px;
}

#signbar ul ul {
	visibility: hidden;
	top: 32px;
}

#signbar ul li:hover ul {
	visibility: visible;
}

#signbar li:hover {
	background: #31B404;
}

#signbar ul li:hover ul li a:hover {
	background: #CCC;
	color: #000;
}

#codeandoutput {
	margin: auto;
	width: 70%;
	height: 400px;
	border: 3px solid #00e600;
	padding: 15px;
}

#path {
	resize: none;
	width: 100%;
}

#codebox {
	float: left;
	resize: none;
	width: 48%;
	height: 100px;
}

#textcodebox {
	resize: none;
	width: 100%;
}

#output {
	float: right;
	resize: none;
	width: 48%;
}

#textoutput {
	resize: none;
	width: 100%;
	color: black;
}