@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#header {
	text-align: center;
	padding: 5px;
	color: #31B404;
}

#user_name {
	width: 10%;
	margin-left: 40%;
	overflow: none;
	resize: none;
}

#password {
	width: 10%;
	margin-left: 40%;
	overflow: none;
	resize: none;
}

#logo {
	width:800px; 
	margin:0 auto;
}

#wrapper {
	border: 1px solid;
	width: 100%;
	margin: 0 auto;
	background-color: #4D4D4D;
	height:40%;
    line-height:40%;
    display: table;
    border-color: #4d4d4d;
}

#menubar{
	width: 1000px;
	border-color: #4d4d4d;
}

#menubar .menubutton{
    display: inline-block; 
    float: left;
    color: #FFF;
	text-shadow: 1px 1px 1px #000;
    font-family: "Arial Black", Gadget, sans-serif;
	padding: 6px;
    -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
    background-color: #4D4D4D;
    
 
}

.backbutton{
	display: inline-block; 
    float: left;
    color: #33cc33;
	text-shadow: 1px 1px 1px #000;
    font-family: "Arial Black", Gadget, sans-serif;
	padding: 6px;
    -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
    background-color: #4D4D4D;
}

.menubutton:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 0px 0px 0px;
}

#menubar .menubutton:hover{
	background-color: lighten(#4d4d4d, 10%);
  	transition: all 250ms linear;
  
}

.backbutton:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 0px 0px 0px;
}

#menubar .backbutton:hover{
	background-color: lighten(#4d4d4d, 10%);
  	transition: all 250ms linear;
  
}


.button {
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 12px;
	text-decoration: none;
	margin: 15px;
	color: #000;
	position: relative;
	display: inline-block;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
}

.button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.green {
	background-color: #33cc33;
	box-shadow: 0px 5px 0px 0px #00b300;
}

.green:hover {
	background-color: #34ff34;
}

h1 {
	font-family: "Helvetica";
	color: #33cc33;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
}

h2 {
	color: #ffffff;
	text-shadow: 3px 3px 3px #000;
}

span {
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

#codeandoutput {
	position: relative;
  	z-index: 1;
  	max-width: 100%;
  	margin: 0 auto;
  	padding: 5px;
	height: 1000px;
	display: block;
}

#dirContainer{
	float: left;
	resize: none;
	width: 20%;
	height: 80%;
}
#right-side{
	border-radius: 25px;
	border: 2px solid #73AD21;
    position: relative;
	display: inline-block;
	float: right;
	resize: none;
	width: 80%;
	height: 80%;
}
#pathContainer {
	float:left;
	resize:none;
	width:80%;
	display:inline-block;
}
#path {
	float:left;
	resize:none;
	width:80%;
	
}

#codebox {
	float: left;
	resize: none;
	width: 80%;
	height: 70%;
}

#textcodebox {
	resize: none;
	width: 100%;
	height: 90%;
}

#output {
	float: bottom;
	resize: none;
}

#textoutput {
	float: right;
	resize: none;
	width: 99%;
	height: 20%;
	color: black;
}

#welcome {
  position: relative;
  z-index: 1;
  background: #333333;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #333333;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #33cc33;
  width: 90%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
}
.login_button:hover,.login_button:active,.login_button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

#login_fail_text{
	font-family: "Arial";
	font-size: 12px;
	color: #ffffff;
}

#okay_button {
	float: center;
	width:5%;
	height:20%;
	border-radius: 5px;
	padding: 15px 15px;
	font-size: 12px;
	text-decoration: none;
	margin: 15px;
	color: #000;
	display: inline-block;
	-webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    cursor: pointer;
    background-color: #33cc33;
	box-shadow: 0px 5px 0px 0px #00b300;
}

#okay_button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

#okay_button:hover {
	background-color: #34ff34;
}

#courseContainer{
  position: relative;
  z-index: 1;
  background: #333333;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#registerContainer{
  position: relative;
  z-index: 1;
  background: #333333;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#nextdueContainer{
  position: relative;
  z-index: 1;
  background: #333333;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}