<!doctype html>
<html ng-app="d2c_main">
<head>
<title>D2C</title>
<link rel="shortcut icon"
	href="http://1.bp.blogspot.com/_1y0y_NlpiZc/TA4jzBJgbLI/AAAAAAAAAAw/eDyCKf2wZnU/s1600/G-Team+FINAL+LG.png">
<link rel="stylesheet" href="style/style.css">
<script type="text/javascript" src="shared/angular.js"></script>
<script src="http://code.angularjs.org/1.1.3/angular.js"></script>
<script type="text/javascript" src="shared/d3.v3.js"></script>
<script type="text/javascript" src="apps/main.js"></script>
<script type="text/javascript" src="controllers/main_controller.js"></script>
<script type="text/javascript" src="services/example_service.js"></script>
<script type="text/javascript" src="services/c_compile_request.js"></script>
<script type="text/javascript" src="services/j_compile_request.js"></script>
</head>

<body bgcolor="#262626" ng-controller="main_controller">
    
    <div id="user_name">sy6746</div>
	<div id="header">
		<img src="http://i67.tinypic.com/2hzk5xw.png" border="0">
	</div>
	<!--end of header div -->
	
	<div id="wrapper">
	<div id= "menubar">
          <div class="menubutton" id="courseInfo" ng-click=""><h3>Course Information</h3></div>
          <div class="menubutton" id="assignments" ng-click=""><h3>Assignments</h3></div>
          <div class="menubutton" id="workspace" ng-click=""><h3>Workspace</h3></div>
          <div class="menubutton" id="testing" ng-click=""><h3>Testing</h3></div>
          <div class="menubutton" id="submissions" ng-click=""><h3>Submissions</h3></div>
          <div class="menubutton" id="grades" ng-click=""><h3>Grades</h3></div>
          
          <!-- MENUBAR GENERATOR 
          
          <div class="button" ng-repeat="menu in menuList"
               ng-click="menuHandler(menu)">{{menu.name}}</div>
          
          
         END MENUBAR GENERATOR -->
         
	</div><!-- end of menubar div -->
	</div><!--end of wrapper div -->
	
	
	<!-- COURSE TABS -->
	<div id="navbar">
		<div id="holder">
        <ul>
        <li><a href="#" id="onlink">Course 1</a></li>
        <li><a href="#" >Course 2</a></li>
        <li><a href="#" >Course 3</a></li>
        <li><a href="#" >Course 4</a></li>
        <li><a href="#" >Course 5</a></li>
        </ul>
		</div><!--end of holder div -->
	</div><!--end of navbar div -->
	
	<!-- COURSE TABS GENERATOR
	
	<div class="course_div" ng-repeat="course in courseList"
		 ng-click="courseHandler(course)">{{course.subject + " " +
	     course.number + ": " + course.name}}</div>
	
	 -->
	
	<h1>Workspace</h1>
	<br>

	<div id="button">
		<div class="button green" id="compile_c"
			ng-click="c_compile_function()">Compile C Code</div>
		<div class="button green" id="compile_java"
			ng-click="j_compile_function()">Compile Java Code</div>
		<div class="button green" id="run_c" ng-click="">Run C Code</div>
		<div class="button green" id="run_java" ng-click="">Run Java Code</div>
	</div>

	<div id="codeandoutput">
		<div>
			<textarea id="path"></textarea>
		</div>
		<div id="codebox">
			<textarea id="textcodebox" rows="23">
					Code Here!
	    		</textarea>
		</div>
		<div id="output">
			<textarea id="textoutput" rows="23">
					{{output}}
				</textarea>
		</div>
	</div>


</body>
</html>
